<% title%>

<table>
  <tr>
    <th width="100%">Content</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%= post.content %></td>
	  <td></td>
	  <td></td>	  
      <td class="action"><%= link_to "Show", post %></td>
      <td class="action"><%= link_to "Edit", edit_post_path(post) %></td>
      <td class="action"><%= link_to "Destroy", post, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
